<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- custom stylesheets -->
    <link href="https://builder.yaas.io/public/css/styles.css" rel="stylesheet"/>
    <script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://builder.yaas.io/public/js/vendor/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js"></script>
    <script src="https://builder.yaas.io/public/js/vendor/restangular/dist/restangular.js"></script>    
    <script src="https://builder.yaas.io/public/js/builder.js"></script>
    <script src="app/builder-app.js"></script>
    <script src="app/comparison-configuration/services/productcomparison-rest.js"></script>
    <script src="app/comparison-configuration/services/productcomparison-config-service.js"></script>
    <script src="app/comparison-configuration/controllers/comparison-configuration-controller.js"></script>
    <title>Product comparison configuration</title>
</head>

<body  ng-app="epam.prodcomparison.builder" ng-controller="ComparisonConfigurationController">
<div class="wrapper">
    <div class="navbar navbar-default navbar-fixed-top y-navbar-centered y-navbar-lg">
        <div class="container-fluid">
            <div class="navbar-left">
                <div class="y-toolbar">
                    <div class="y-toolbar-cell">
                        <button class="btn-subordinate btn navbar-btn" ng-click="goBack()">
                            <span class="hyicon hyicon-back"></span> <span class="hidden-xs">Back</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="y-navbar-center">
                <div class="y-navbar-center-content">
                    <h1>Product comparison</h1>
                </div>
            </div>
            <div class="navbar-right">
                <div class="y-toolbar">
                    <div class="y-toolbar-cell">
                        <button ng-click="cancel()" ng-disabled="!saveButtonEnabled" id="cancel-button" class="btn btn-subordinate navbar-btn ng-binding">Cancel</button>
                    </div>
                    <div class="y-toolbar-cell">
                        <button ng-click="save()" ng-disabled="!saveButtonEnabled" id="save-button" class="btn btn-primary navbar-btn ng-binding">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" ng-cloak>
        <div class="container-fluid">
            <ul class="dataCards">
                <li class="dataCard" ng-click="groupByGeneral!=groupByGeneral">
                    <div class="cardRow cardRowClickable">
                        <p class="primaryData">
                            General
                        </p>
                        <p class="secondaryData">
                            Define number of products in comparison
                        </p>
                        <span class="label label-success" ng-show="!groupByGeneral">
                           Active
                         </span>
                    </div>
                </li>
                <li class="dataCard" ng-click="groupByDisplay=!groupByDisplay">
                    <div class="cardRow cardRowClickable">
                        <p class="primaryData">
                            Comparison display settings
                        </p>
                        <p class="secondaryData">
                            Define sorting strategy and hiding options
                        </p>
                        <span class="label label-success" ng-show="!groupByDisplay">
                           Active
                         </span>
                    </div>
                </li>
                <li class="dataCard" ng-click="groupBySave=!groupBySave">
                    <div class="cardRow cardRowClickable">
                        <p class="primaryData">
                            Storage options
                        </p>
                        <p class="secondaryData">
                            Define live time of comparison page for different users
                        </p>
                        <span class="label label-success" ng-show="!groupBySave">
                           Active
                         </span>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-xs-6" ng-show="!groupByGeneral">
                    <div class="panel panel-default">
                        <div class="panel-heading">Define max number of products in comparison</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <input class="form-control" ng-change="change('maxInComparison')" ng-model="maxInComparison" ng-required="true" ng-pattern="/^[1-9]+[0-9]*$/">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="!groupByDisplay">
                    <div class="panel panel-default">
                        <div class="panel-heading">Choose default sorting strategy for storefront</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <select class="form-control" name="sortingStrategy" ng-model="defaultSorting" ng-change="change('defaultSorting')">
                                        <option ng-repeat="option in sortingOptions" value="{{option.code}}" ng-selected="defaultSorting===option.code">{{option.title}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="!groupByDisplay">
                    <div class="panel panel-default">
                        <div class="panel-heading">Hide empty attributes by default</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <span class="y-toggle y-toggle-lg">
                                      <input type="checkbox" id="hideEmpty" ng-model="hideEmpty" ng-change="change('hideEmpty')"/>
                                      <label for="hideEmpty" data-activelabel="On" data-inactivelabel="Off"></label>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="!groupByDisplay">
                    <div class="panel panel-default">
                        <div class="panel-heading">Hide equal attributes by default</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                   <span class="y-toggle y-toggle-lg">
                                      <input type="checkbox" id="hideEqual" ng-model="hideEqual" ng-change="change('hideEqual')"/>
                                      <label for="hideEqual" data-activelabel="On" data-inactivelabel="Off"></label>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="!groupBySave">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Store comparison by user login
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                   <span class="y-toggle y-toggle-lg">
                                      <input type="checkbox" id="persistLogged" ng-model="persistLogged" ng-change="change('persistLogged')"/>
                                      <label for="persistLogged" data-activelabel="On" data-inactivelabel="Off"></label>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="!groupBySave">
                    <div class="panel panel-default">
                        <div class="panel-heading">Expiration time for logged users</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <select class="form-control" name="expirationTime" ng-disabled="!persistLogged" ng-model="ttlLogged" ng-change="change('ttlLogged')">
                                        <option ng-repeat="option in expirationTimeOptions" value="{{option.code}}" ng-selected="ttlLogged===option.code">{{option.title}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="!groupBySave">
                    <div class="panel panel-default">
                        <div class="panel-heading">Expiration time for anonymous users</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <select class="form-control" name="expirationTime" ng-model="ttlAnonymous" ng-change="change('ttlAnonymous')">
                                        <option ng-repeat="option in expirationTimeOptions" value="{{option.code}}" ng-selected="ttlAnonymous===option.code">{{option.title}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="spinerEnabled" class="spinner-backdrop">
        <div class="spinner">
            <div class="spinner-container spinner-container1">
                <div class="spinner-circle1"></div>
                <div class="spinner-circle2"></div>
                <div class="spinner-circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container spinner-container2">
                <div class="spinner-circle1"></div>
                <div class="spinner-circle2"></div>
                <div class="spinner-circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container spinner-container3">
                <div class="spinner-circle1"></div>
                <div class="spinner-circle2"></div>
                <div class="spinner-circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
